<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión Con Sodimac</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.red-indigo.min.css">
    <link rel="stylesheet" href="assets/css/dialogs.css">
    <link rel="stylesheet" href="assets/css/auth.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>

<body class="dialogs auth-dialogs consent-page">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
        <header class="mdl-layout__header mdl-layout__header--seamed">
            <div class="mdl-layout__header-row">
                <div class="logo">
                    <img src="assets/images/sso-logo.svg" />
                </div>
                <span class="mdl-layout-title">Iniciar sesión con Sodimac</span>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <center>
                    <div class="app-logo-container">
                        <img src="../../Accounts/@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.APP_TOKEN]).jpg" />
                    </div>
                    <div class="app-authorization">
                        <span class="app-name">@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.APP_NAME])</span> recibirá:
                        <span class="scope-list">
                            @(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.SCOPE_DISCLAIMER])
                        </span>
                    </div>
                    <div class="app-approve-container">
                        <form class="credentials" action="approve" method="post">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.CLIENT_ID)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.CLIENT_ID])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.REDIRECT_URI)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.REDIRECT_URI])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.RESPONSE_TYPE)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.RESPONSE_TYPE])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.SCOPE)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.SCOPE])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.PROMPT)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.PROMPT])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.COUNTRY)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.COUNTRY])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.STATE)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.STATE])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.APP_TOKEN)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.APP_TOKEN])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.USER_TOKEN)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.USER_TOKEN])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.NEXT)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.NEXT])">

                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Continar como <span id="#user_name">@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.USER_NAME])</span>
                            </button>
                        </form>

                        <div class="log-out">
                            <span>Para cambiar la cuenta</span>
                            <a href="logout?next=@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.NEXT])">Haz click aquí</a>
                        </div>

                    </div>
                    <div class="app-cancel-container">
                        <form class="credentials" action="error" method="post">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.RESPONSE_TYPE)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.RESPONSE_TYPE])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.STATE)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.STATE])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.REDIRECT_URI)" value="@(Model[API.Endpoints.Oauth2.Resources.RFC6749Names.REDIRECT_URI])">
                            <input type="hidden" name="@(API.Endpoints.Oauth2.Resources.RFC6749Names.ERROR)" value="user_cancel">

                            <button class="mdl-button mdl-js-button">
                                Cancelar
                            </button>
                        </form>

                    </div>
                </center>
            </div>
        </main>
    </div>
</body>

</html>
